* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
   background-color: #e3e1e1;
}

.container {
    margin-top: 30px;
    text-align: center;
    /* background-color: #ddb0b0; */
    background-color: transparent;
    padding: 15px;
    width: 80%;
    height: 180vh;
    border-radius: 10px;

}

header {
    text-align: center;
}

.container h1 {
    color: orangered;
    font-weight: bolder;
    font-size: 35px;
}

header p {
    font-size: 20px;
    margin-top: 10px;
    color: #3f3f3f;
    margin-bottom: 20px;
}

header label {
    font-size: 20px;
    color: #3f3f3f;
}

header span {
    color: #f56d3c;
    font-weight: 600;
}

/* search-bar */
.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    outline: none;
    border: 1px solid #7e7e7e;
    font-size: 20px;
    height: 40px;
    width: 380px;
    padding-left: 6px;
    border-radius: 4px;
    box-shadow: 0 0 1px #5e5e5e;
    transition: all 0.3s ease;
}

.search-bar input:focus {
    border: 1px solid orangered;
}

.search-bar button {
    outline: none;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: #f55c25;
    border-radius: 4px;
    transition:  all 0.3s ease;
}

.search-bar button:hover {
    background-color: #d93c02;
    cursor: pointer;
}

/* error  */
.error {
    font-size: 20px;
    color: #3f3f3f;
    /* background-color: #ebb7a3; */
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* javaScript elements  */

.recipe {
   border-radius: 4px;
   border-radius: 8px;
   padding: 10px;
   max-width: 200px;
   min-height: 250px;
    background-color: whitesmoke;
    margin-top: 15px;
    transition: all 0.3s ease;
}

.recipe:hover {
    transform: translateY(-10px);
}

.recipe img {
    width: 100%;
    border-radius: 6px;
    background-size: cover;
    object-fit: cover;
}

.recipe h3 {
    font-size: 17px;
    color: #262626;
    margin-top: 6px;
}

.recipe button {
    border: none;
    outline: none;
    /* background-color: #f4571f; */
    background-color: #07ab07;
    color: white;
    font-size: 17px;
    border-radius: 3px;
    padding: 4px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.recipe button:hover {
    cursor: pointer;
    background-color: #057005
}

.mel-cat-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.meal-category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mel-cat-btn .meal-category {
    font-size: 15px;
    color: whitesmoke;
    background-color: #ef561e;
    height: 28px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 4px;
}

.recipe-details-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.details {
    text-align: center;
}

.Recipe-details {
    text-align: center;
    padding: 25px;
    width: 85%;
    margin-top: 30px;
    background-color: white;
}

.Recipe-details img {
    border-radius: 5px;
}

.Recipe-details h2 {
    color: #d93c02;
    font-weight: 650;
    padding-top: 1px;
}

.Recipe-details div {
    text-align: center;
    background-color: #f1825a;
    padding: 4px;
    font-size: 20px;
    color: #1a1919;
    margin-top: 10px;
    width: 90px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin-left: 45%;
}

.Recipe-details span {
    font-size: 24px;
    color: rgb(45, 45, 45);
    font-weight: 600;
    width: 120px;
    margin-top: 10px;
    margin-right: 84%;
}

.Recipe-details p {
    font-size: 18px;
    color: #403f3f;
    padding-top: 10px;
}

.Recipe-details #Ingredient {
    margin-top: 20px;
    font-size: 26px;
    color: #0f0f0f;
}

.Recipe-details label {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Recipe-details .ingredient-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    text-align: center;
}


#all-text {
    text-align: center;
    width: 100%;
}

.ingredient-div p {
    font-size: 20px;
    color: #262626;
    gap: 10px;
    display: flex;
    width: 280px;
    background-color: #eae4e4;
    padding: 5px;
    border-radius: 4px;
}

.ingredient-div p i {
    font-size: 24px;
    background-color: #07ab07;
    border-radius: 50%;
    color: white;
    padding: 3px;
}

 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 200px;
    background-color: red;
    color: white;
    margin-top: 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 40px;
    font-size: 21px;
}

a i {
    font-size: 22px;
    margin-right: 5px;
}